WASIp3 HTTP request path-and-query is more lenient than RFC 3986

According to [RFC 3986 §3.3](https://www.rfc-editor.org/rfc/rfc3986#section-3.3), the following predicate should define the valid characters in a path component (besides the `/` and `?` delimiters):

```rust
fn is_valid_path_char(ch: char) -> bool {
    // pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"
    ch.is_ascii_alphanumeric() || "-._~".contains(ch) // unreserved
        || ch == '%'                                  // pct-encoded
        || "!$&'()*+,;=".contains(ch)                 // sub-delims
        || ":@".contains(ch)
}
```

However, the following paths are accepted via `request.set_path_and_query`:
* `/"`
* `/{`
* `/|`
* `/}`
* `/^`
* `/[`
* `/]`
* `/\`
* `/#`

What should change here, the spec or Wasmtime?

Relatedly, Wasmtime accepts non-absolute paths, which I am not sure are valid; https://github.com/WebAssembly/WASI/issues/791#issuecomment-3359974132.

FWIW, @lukewagner is saying in https://github.com/WebAssembly/wasi-http/issues/178#issuecomment-3238221648 that at least some parts of RFC 9110 are web-compatible.  I don't have a horse in this race, I just want things to be specified somewhere.  Could be an RFC, could be a whatwg spec, could have some WASI-specific exceptions, but they should be written down.

Regarding the URL WhatWG spec -- I don't think it's the right reference for WASI.  Otherwise `wasi:http` would allow spaces in URIs and perform percent-encoding/decoding, but it does not, and that is fine.