WASIp3 set-path-and-query normalizes an empty path for `OPTIONS`

Quoth [RFC 9110 §4.2.3](https://www.rfc-editor.org/rfc/rfc9110.html#section-4.2.3):
> When not being used as the target of an OPTIONS request, an empty path component is equivalent to an absolute path of "/", so the normal form is to provide a path of "/" instead.

However Wasmtime always normalizes `""` to `"/"`, even if the method is set to `OPTIONS`.

Related to https://github.com/WebAssembly/wasi-http/issues/195.