WASIp3 request#set-method is more restrictive than RFC 9110

Apologies for these bugs, but I like for things to be clear :)  So the WASI spec says:

```
    /// Set the Method for the Request. Fails if the string present in a
    /// `method.other` argument is not a syntactically valid method.
    set-method: func(method: method) -> result;
```

If we take the approach in https://github.com/WebAssembly/wasi-http/issues/178, then we define syntactic validity according to [RFC 9110 §9.1](https://www.rfc-editor.org/rfc/rfc9110.html#section-9.1):

```
  method = token
  token          = 1*tchar
  char          = "!" / "#" / "$" / "%" / "&" / "'" / "*"
                 / "+" / "-" / "." / "^" / "_" / "`" / "|" / "~"
                 / DIGIT / ALPHA
                 ; any VCHAR, except delimiters
```

OK, weird that "!" can be a method, but OK.

Only, Wasmtime rejects the following method names: `#`, `$`, `%`, `&`, and `'`.  The others work!

What should change here, if anything? :)

> Apologies for these bugs, but I like for things to be clear :)

Truly, how dare you report issues you find! (Seriously: thank you for doing this!)